.form-titulo {
  text-align: center;
  font-weight: 600;
  margin: 2%;
}

form {
  width: 90%;
  margin: 0 auto;
}



@media (max-width: 900px) {
  form {
    width: 90%;
  }
}

.botaoEnviar {
  margin: 3%;
}